<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./src/resources</directory>
      <directory>./src/config</directory>
    </exclude>
    <report>
      <clover outputFile="./clover.xml"/>
    </report>
  </coverage>
  <php>
    <env name="APP_KEY" value="AckfSECXIvnK5sr28GVIWUAxmbBSjTsmF"/>
  </php>
  <testsuites>
    <testsuite name="Library Program Test Suite">
      <directory suffix="Test.php">./tests/Integration/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <!-- and this is where your report will be written -->
  </logging>
</phpunit>
